{% extends 'ProfileBundle::base.html.twig' %}

{% block body %}
    {{include('ProfileBundle:Layout:header.html.twig')}}        
    <div class="content">
        <div class="caption">                        
        </div>
        <div class="container">
            <div class="profile-photo" >

            </div>
            <section class="content-title">
                <h2>Howdy-hoi! BLNK here.</h2>
                <div>
                    I'm a junior-level web developer and occasional illustrator. Hit me up for inquiries!
                </div>
            </section>
            <section class="content-image" style="background-image: url({{asset('bundles/profile/img/homura.jpg')}});">
                <div>
                    I'm a junior-level web developer and occasional illustrator. Hit me up for inquiries!
                </div>
            </section>
        </div>
    </div>
{#    <div id="particles-js"></div>#}
{% endblock body %}