{% extends 'ProfileBundle:Layout:main.html.twig' %}

{% block title %}Boi{% endblock %}

{% block body %}
    {{include('ProfileBundle:Layout:header.html.twig')}}
    <section class="col-sm-12" style="top: 15%;">
        <div class="col-sm-12 page-header-img" style="padding: 55px 15px;top: 13%;">
            <div class="page-content" style='display:flex;'>
                <div class="col-sm-4" style="padding: 55px;color:#fff;">
                    <h2>Welcome!</h2>
                    <p>I am a web developer and occasional illustrator. I want to learn all about web design and web development.</p>
                    <p>I am also open to learn about different technologies and techniques.</p>
                </div>
                <div class="col-sm-6" style="padding: 55px;color:#fff;text-align: end;">
                    <img src='{{asset('bundles/profile/img/doge.jpg')}}' style='    height: 165px;border-radius: 100%;'>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-main-content" style="padding: 55px 15px;">
            <div id="particles-js"></div>
            <div class="page-content" style='display:flex;'>
                <div class="white-bg col-sm-6" style="padding: 10px;padding: 55px;color:#fff;">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="white-bg col-sm-6" style="padding: 10px;padding: 55px;color:#fff;">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-footer-img" style="padding: 55px 15px;">
            <div class="page-content">
                <div class="white-bg col-sm-4" style="padding: 10px;padding: 55px;color:#fff;">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </section>                        
{% endblock body %}