/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 10:20:25 AM
    Author     : amiranda
*/

#body_content{
    background: #18253f;
    font-family: 'Montserrat', sans-serif;
}
html, body{
    height: 100%;
    background: #18253f;
}
nav#sticky_nav {
    /*background: #f0f1f7;*/
    background: transparent;
    position:fixed;
    width:100%;
}
.para_intro, .para_intro_1{ 
    /* Set a specific height */
    height: 500px; 
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para_intro_1{
    background-image: url("{{asset('bundles/profile/img/dorse.jpg')}}");
}
#main-header{
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
}
#main-header .nav li a{
    padding: 10px;
    background: #fff
}
#main-header li {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
}
#main-header .nav {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}
.content_intro{
    text-align:center;
}
.para_paragraph{
    text-align: justify;
    font-size: 18px;
}

#home {
    padding: 0 10px;
    color: #fff;
    height: 100vh;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.text{
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}
#home::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../img/page-header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    opacity:0.5;
}

@-webkit-keyframes arrow-float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 9px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-webkit-keyframes arrow-rotate-90{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }    
}

@-webkit-keyframes arrow-rotate-0{
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }    
}
.hide{
    display:none;
}
.arrow .arrow-header-right{
    -webkit-animation: arrow-rotate-0 .3s ease-in forwards;
}
.arrow:hover .arrow-header-right{
    -webkit-animation: arrow-rotate-90 .3s ease-in forwards;
}

.header-profile-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15px;
    width: 30%;
    display: flex;
    flex-direction: row;
}
#main_header{
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: 1;
}
#main_header nav{
    width:100vw;
    display: flex;
    justify-content: space-between;
    background: #021d3a96;
    align-items: flex-end;
    align-items: center;
}
#main_header li, #main_header a{
    color: #fff;
    list-style: none;
}
#navbar-top-right, #navbar-top-left{
    display: flex;
}
#navbar-top-right li, #navbar-top-left li{
    padding: 10px 16px;           
}
#navbar-top-left{
    font-size: 32px;
}
nav ul{
    margin: 0;
}
.right{
    position:absolute;
    right: 0;
}
.left{
    position:absolute;
    left: 0;
}