/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 10:20:25 AM
    Author     : amiranda
*/

#body_content{
    background: #fdc1c0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    background: #18253f;
}

#home {
    padding: 0 10px;
    color: #535c8e;
    height: 100vh;
}


.header-profile-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15px;
    width: 30%;
    display: flex;
    flex-direction: row;
}
#main_header{
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: 1;
}
#main_header nav{
    width:100vw;
    display: flex;
    justify-content: space-between;
    background: #c6cbea;
    align-items: flex-end;
    align-items: center;
}
#main_header li, #main_header li a{
    color: #738cf7;
    list-style: none;
}

#main_header li a{
    font-weight: bolder;
    font-size: 20px;
    color: #f77773;
}

#home .navbar{
    z-index: 1;
    width: 100%;
    margin: 0;
}

#navbar-top-right, .navbar-top-left{
    display: flex;
}
#navbar-top-right li, #navbar-top-left li{
    padding: 10px 16px;           
}
.navbar-top-left{
    font-size: 32px;
}
.nav.navbar-nav{
    text-align: center;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.text{
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}
#home::after, #works::after, #pricing::after{
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
#home::after{
    background-image: url('../img/bg3.jpg');
}
#works::after{
    background-image: url('../img/bg3.jpg');
}
#pricing::after{
    background-image: url('../img/bg3.jpg');
}

@-webkit-keyframes arrow-float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 9px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-webkit-keyframes arrow-rotate-90{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }    
}

@-webkit-keyframes arrow-rotate-0{
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }    
}
.hide{
    display:none;
}
.arrow .arrow-header-right{
    -webkit-animation: arrow-rotate-0 .3s ease-in forwards;
}
.arrow:hover .arrow-header-right{
    -webkit-animation: arrow-rotate-90 .3s ease-in forwards;
}

nav ul{
    margin: 0;
}
nav .active {
    border: 1px solid red;
}

@media (min-width: 768px){
    .navbar-toggle {
        display: none;
    }
    .ml-auto{
        float:right;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.popr-item {
    color: #444;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 2.8;
    border-bottom: 1px solid #f1f1f1;
}

.full-h{
    height: 100vh;
}

.pos-top{
    position: fixed !important;
    top: 0;
    animation: fadeIn .1s ease-in both;
}
.pos-bottom{
    position: absolute !important;
    bottom: -6%;
}
.navbar {
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    border-bottom: 3px solid #04C2C9;
    text-align: left;
    z-index: 99;
}

.no-margin{
    margin: 0 !important;
}
.right{
    position:absolute;
    right: 0;
}
.left{
    position:absolute;
    left: 0;
}