/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2018, 10:20:25 AM
    Author     : amiranda
*/

#body_content{
    background: #fdc1c0;
    font-family: 'Montserrat', sans-serif;
}
html, body{
    height: 100%;
    background: #18253f;
}

#home {
    padding: 0 10px;
    color: #535c8e;
    height: 100vh;
}


.header-profile-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 15px;
    width: 30%;
    display: flex;
    flex-direction: row;
}
#main_header{
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: 1;
}
#main_header nav{
    width:100vw;
    display: flex;
    justify-content: space-between;
    background: #c6cbea;
    align-items: flex-end;
    align-items: center;
}
#main_header li, #main_header li a{
    color: #738cf7;
    list-style: none;
}

#main_header li a{
    font-weight: bolder;
    font-size: 20px;
    color: #f77773;
}
#navbar-top-right, #navbar-top-left{
    display: flex;
}
#navbar-top-right li, #navbar-top-left li{
    padding: 10px 16px;           
}
#navbar-top-left{
    font-size: 32px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.text{
    font-size: 32pt;
    line-height: 36pt;
    text-align: center;
}
#home::after{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

@-webkit-keyframes arrow-float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 9px);}
    to {-webkit-transform: translate(0, -0px);    }    
}

@-webkit-keyframes arrow-rotate-90{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }    
}

@-webkit-keyframes arrow-rotate-0{
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }    
}
.hide{
    display:none;
}
.arrow .arrow-header-right{
    -webkit-animation: arrow-rotate-0 .3s ease-in forwards;
}
.arrow:hover .arrow-header-right{
    -webkit-animation: arrow-rotate-90 .3s ease-in forwards;
}

nav ul{
    margin: 0;
}
.right{
    position:absolute;
    right: 0;
}
.left{
    position:absolute;
    left: 0;
}